header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-icons-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
